<!DOCTYPE html>
<html>
<head>
	<title>组件参数校验</title>
	<meta charset="UTF-8">
	<script src="./vue.js"></script>
</head>
/**
 * native 原生事件绑定
 */
<body>
	<div id="root">
		<component :is='type'></component>
		<!-- <child-one v-if="type ==='child-one'"></child-one>
		<child-two v-if="type ==='child-two'"></child-two> -->
		<button @click="handleClick">change</button>

	</div>
	<script type="text/javascript">
		Vue.component('child-one',{
			
			
			template:'<div v-once >child-one</div>',
		})
		Vue.component('child-two',{
			
			template:'<div v-once >child-two</div>',
		})

		
		var app = new Vue({
				el:"#root",
				
				data:{
					type:'child-one',
				},
				methods:{
					handleClick:function(){
						this.type = this.type=='child-one'?'child-two':'child-one';
					},
				}
				
			})
		

	</script>
</body>
</html>